<!-- 评论 1 - 匿名用户 -->
{% for comment in comments %}
<div class="comment-item">
    <div class="avatar"></div>
    <div class="comment-content">
        <div class="comment-meta">
            {% if comment.nickname %}
            <span class="comment-nickname">{{comment.nickname}}</span>
            {% else %}
            <span class="comment-nickname">匿名用户</span>
            <span class="anonymous-badge">匿名</span>
            {% endif %}
            <span class="comment-time">{{comment.time}}</span>
            <span class="comment-floor">{{comment.id}}</span>
        </div>
        <div class="comment-text">{{comment.content}}</div>
    </div>
</div>
{% endfor %}